* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    font-family: Roboto, sans-serif;
    padding: 0 50px;
}


.top-section {
    background: pink;
}

.bottom-section {
    background: black;
    color: white;
}

h2 {
    font-size: 5em;

}

p {
    font-size: 2em;
}
